.header {
  position: sticky;
  z-index: 500;
  top: 0px;
  background-color: #fffc;
  backdrop-filter: blur(16px);
  height: 100px;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding-left: 64px;
  border-bottom: 1px solid #3032471a;
}

.total {
  font-weight: 600;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  padding: 16px 64px;
}

.loans-list {
  padding: 0px 64px;
  font-size: 20px;
}

// input::-webkit-outer-spin-button,
// input::-webkit-inner-spin-button {
//   -webkit-appearance: none;
//   margin: 0;
// }

// /* Firefox */
// input[type="number"] {
//   -moz-appearance: textfield;
// }

.modal-background {
  // position: absolute;
  position: fixed;
  z-index: 1000;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #1a1a1acc;
  display: flex;
  align-items: center;
  justify-content: center;

  display: none;

  .modal {
    position: relative;
    background-color: #fff;
    padding: 64px;
    border-radius: 5px;
    font-size: 20px;

    h1 {
      font-size: 35px;
      font-weight: 600;
      margin-bottom: 32px;
    }

    h2 {
      margin-top: 64px;
      font-size: 30px;
      font-weight: 600;
    }

    p {
      line-height: 32px;
    }

    input {
      font-size: 20px;
      padding: 16px 32px;
      text-align: right;
      margin-right: 32px;
      border-radius: 5px;
      border: 1px solid #3032471a;
    }

    .close-ico {
      position: absolute;
      top: 25px;
      right: 25px;
      border-radius: 50%;
      padding: 15px;
      transition: all 0.2s;
      user-select: none;

      &:hover {
        background-color: #0002;
      }

      &:active {
        background-color: #0004;
      }

      img {
        display: block;
      }
    }
  }
}
