.header {
  position: sticky;
  z-index: 500;
  top: 0px;
  background-color: #fffc;
  backdrop-filter: blur(16px);
  height: 100px;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding-left: 64px;
  border-bottom: 1px solid #3032471a;
}

.total {
  position: sticky;
  bottom: 0px;
  background-color: #fffc;
  backdrop-filter: blur(16px);

  font-weight: 600;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  padding: 16px 64px;
  padding-top: 28px;
}

.loans-list {
  padding: 0px 64px;
  font-size: 20px;
}
